@{
    ViewData["Title"] = "Index";
}

@model ProductListVM;
<a class="btn btn-primary" asp-controller="Products" asp-action="Save">Add Product</a>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Stock</td>
            <td>Category</td>
            <td>Product Features</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>

        @foreach (ProductVM item in Model.productVMs)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.CategoryVM.Name</td>
                <td> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"onclick="GetProductFeature(@item.Id)">Product Features</button></td>
                <td>
                    <a class="btn btn-warning" asp-controller="Products" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>



</table>


<!--Product Features Modal-->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Product Features</h4>
        </div>
        <div class="modal-body">
          <p id="color"></p>
          <p id="height"></p>
          <p id="width"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>



<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/js/ProductList.js"></script>